@model List<Slidebar>
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container">
        <h2>Slidebar Table</h2>
        <h2><a class="btn btn-success" href="~/admin/SlidebarAdd">New Slidebar</a></h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Order</th>
                    <th>Offer</th>
                   
                </tr>
            </thead>
         
        </table>
    </div>

</body>
</html>
